<%# add navigation links to this file %>
<li class="p1"><%= link_to 'O NÁS', page_path('about') %></li>
<li class="p2"><%= link_to 'NAŠE PRÁCE', page_path('work') %></li>
<li class="p3"><%= link_to 'KONTAKT', page_path('contact') %></li>
<li class="p4"><%= link_to 'SERVIS', page_path('servis') %></li>
<li class="p5"><%= link_to 'BLOG', page_path('blog') %></li>
